{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}</h2>
<h3>{{ message }}</h3>

<address>
    180 5th Street<br />
    Suite 200<br />
    Huntington Beach, CA 92648<br />
    <abbr title="Phone">P:</abbr>
    714.330.6353
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:ds_kma_ops@innoceanusa.com">ds_kma_ops@innoceanusa.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:jskrypek@innoceanusa.com">jskrypek@innoceanusa.com</a>
</address>

{% endblock %}
