{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Metric Entry</h1>
    <p class="lead">Select a category and type to enter</p>
</div>
<br/>

{% if current_types_list %}
<table class="table table-hover">
    <tbody>
        {% for type in current_types_list %}
        <tr>
            <td>
                <a href="{% url 'app:type_detail' type.id %}">{{type.type_metric_category.category_name}} - {{type.type_name}}</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endif %}

{% endblock %}
