{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Ad-Weigh</h1>
    <p class="lead">Ad-Weigh is a digital ad metric entry and an ad taxonomy maintenance tool</p>
    <p><a href="https://www.innoceanusa.com/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Capabilities</h2>
        <p>
            Ad-Weigh provides the means to enter generic ad metric values.  It also allows for the unification of ad taxonomy across partner platforms.
        </p>
        <p><a class="btn btn-default" href="http://www.innoceanusa.com/technology">Learn more &raquo;</a></p>
    </div>
</div>

{% endblock %}
